.header-container{
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: white;
}

.input-container {
  position: relative;
}

.search-box{
  border: none;
  background-color: rgb(248, 248, 248);
  padding: 15px 10px;
  padding-left: 44px;
  font-size: 18px;
  outline: none;
  width: 370px;
}

.search-icon{
  position: absolute;
  top: 17px;
  left: 17px;
  cursor: pointer;
}


@media(max-width: 992px){
  .search-box, 
  .input-container,
  .input-main-container{
    width: 100%;
  }
}
